* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 4em;
}

section h1 {
    font-size: 5.5rem;
    text-align: center;
}

.overlay {
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
}

span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    display: flex;
    cursor: pointer;
    transition: .5s;
}

.circle-open {
    background: white;
}

svg {
    margin: 1em;
    fill: white;
    transition: .5s;
}

.svg-open {
    fill: black;
}

.is-open {
    clip-path: circle(200% at 100% 100%);
    transition: clip-path 1.3s;
    transition-timing-function: cubic-bezier(1, -0.01, .01, .99);
}